$icon-width: 73px;
$icon-height: 90px;
$maxX: 30;
$maxY: 30;
$maxZ: 10;

body {
    background-color: $background !important;
    color: $textcolor !important;
}

.navbar {

    background-color: $background-nav !important;

}

#navbar {
    color: $textcolor-nav !important;
}

@mixin message($color) {
    
    width:100%;
	background-color: $color;
	height:50px;
	line-height:50px;
	margin-bottom:20px;
	text-align:center;
	font-family:Verdana;
	font-weight: bold;
	color:white;
	display:none;
    
}

.successMsg {
	
	@include message(#00cc00);
	
}

@mixin colorOverlay($color) {
    
    background-color: $color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.selected {
    
    @include colorOverlay(rgba(200, 0, 0, 0.7));

}

.grid {
    background-color:lightgrey;
    position:absolute;
    width:100%;
}

@for $i from 1 through $maxX {
    
    .x-#{$i} {
        position:absolute;
        left: ($icon-width/2 * $i);
    }
    
}

@for $i from 1 through $maxY {
    
    .y-#{$i} {
        top: ($icon-width/1.60 * $i);
    }
    
}

@for $i from 0 through $maxZ {
    
    .z-#{$i} {
       z-index: $i;
       margin-top: -($i*3);
       margin-left: -($i*3);

    }
    
}

@import "sprites";