    <div class="row">
      <div class="col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th>By</th>
                <th>Template</th>
                <th>State</th>
                <th>Join game</th>
                <th>View Players</th>
              </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="game in gc.GameFactory.allGames" ng-if="game.state == 'open' && game.players.length != game.maxPlayers && game.createdBy._id != gc.AuthService.getUser() && game.players.indexOf(gc.AuthService.getUser()) == '-1'">
                    <td>{{game.createdBy.name}}</td>
                    <td>{{game.gameTemplate.id}}</td>
                    <td>{{game.state}}</td>
                    <td><button class="btn btn-success btn-block" ng-click="gc.joinGame(game)">Join game</button></td>
                    <td style="width:300px;">
                        <button class="btn btn-primary btn-block" ng-show="shouldShow" ng-click="shouldShow = !shouldShow">Hide</button>
                        <button class="btn btn-primary btn-block" ng-show="!shouldShow" ng-click="shouldShow = !shouldShow">Show</button>
                        <div style="text-align:center;" ng-show="shouldShow" ng-repeat="player in game.players">{{ player.name }}</div>
                    </td> 
                </tr>
                    
            </tbody>
          </table>
        </div>
      </div>
